<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
</head>
<body style="background-color:lightgreen;text-align:center";>

<h2>Registration form</h2>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
<form method="post">

    {% csrf_token %}
     <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
        <label for="confirm_password">Confirm password:</label><br>
    <input type="password" id="confirm_password" name="confirm_password"><br>
    <button type="submit">Go to Login page</button>
</form>
</body>
</html>